<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.15">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.41">
  <script>
    podTemplate(
        alwaysPullImage: true,
        containers: [
            containerTemplate(name: &apos;jnlp&apos;, image: env.JENKINS_IMAGE, workingDir: &apos;/home/jenkins&apos;),
        ],
        label: &apos;jnlp_pod&apos;
    ) {
        node(&apos;jnlp_pod&apos;) {
            stage(&apos;Run shell&apos;) {
                sh &quot;&quot;&quot;
                    cd /var/jenkins_data
                    bash test.sh
                &quot;&quot;&quot;
            }
        }
    }
  </script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>